
.calendarContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.calendar {
    width: 80%;
}

.exerciseView {
    flex-grow: 1.0;
    background-color: red;
}

#addWorkout {
    display: flex;
    flex-direction: column;
}

.content-container {
    display: flex;
    flex-direction: column;
}
